<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login Page</h1>
    <!-- 
        action : 유저가 입력한 데이터를 어디로 보낼것인가(url)
        method : 데이터를 어떠한 방식으로 보낼 것인가 (get/post)
    -->
    <h3>
        get 형식으로 데이터를 전송
    </h3>
    <form action="/signin" method="get">
        <!-- id를 입력할 수 있는 공간 -->
        <input type="text" name="input_id">
        <!-- 줄바꿈 태그 -->
        <br>
        <!-- password를 입력하는 공간 -->
        <input type="password" name="input_pass">
        <!-- 줄 바꿈 태그 -->
        <br>
        <!-- 제출하는 버튼 -->
        <input type="submit">
    </form>

    <h3>
         post 형식으로 데이터를 전송
    </h3>
    <form action = '/signin2' method="post">
        <!-- 유저가 입력하는 공간 -->
        <input type="text" name="input_id">
        <br>
        <input type="password" name="input_pass">
        <br>
        <!-- 유저가 답을 다 입력하고 데이터를 보내주기 위한 제출 버튼 -->
        <input type="submit">
    </form>
</body>
</html>