<!DOCTYPE html>
<html>
    <head>
        <title>
            Main
        </title>
    </head>
    <body>
        <h1>Main Page</h1>
        <p>main 페이지 입니다. </p>
        <!-- 하이퍼링크 생성 -->
        <!-- 절대 경로 하이퍼링크 -->
        <a href="https://www.google.com">Google</a>
        <a href="https://www.naver.com">Naver</a>
        <a href="http://localhost:3000/second">Second</a>
        <!-- 상대 경로 하이퍼링크 -->
        <!-- 현재의 디렉토리는 localhost:3000 -->
        <a href="/second">Second Page</a>
    </body>
</html>