<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Main Pgae</h1>
    <!-- {유저명} 안녕하세요! -->
    <p>
        <!-- 
            <percent percent> -> html코드에서 js를 사용하겠다
            <percent=키값percent> -> 변수의 값을 html Text로 사용하겠다.
         -->
        <%=name%>님(<%=age%>) 안녕하세요!
    </p>
</body>
</html>