<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 아이디, 비밀번호, 이름, 나이 입력 공간 생성 -->
    <form action="/signup2" method="get">
        <label>ID</label>
        <input type="text" name="input_id">
        <br>
        <label>password</label>
        <input type="password" name="input_pass">
        <br>
        <label>name</label>
        <input type="text" name="input_name">
        <br>
        <label>age</label>
        <input type="number" name="input_age">
        <br>
        <input type="submit" value="회원가입">
    </form>
</body>
</html>