<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>회원 정보 수정</h1>
    <!-- 유저가 입력하는 공간 -->
    <form action="/update2" method="post">
        <label>ID</label>
        <input type="text" name="input_id">
        <br>
        <label>Password</label>
        <input type="password" name="input_pass">
        <br>
        <label>name</label>
        <input type="text" name="input_name">
        <br>
        <label>age</label>
        <input type="number" name="input_age">
        <br>
        <input type="submit" value="회원 정보 수정">
    </form>
</body>
</html>